@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600;700&display=swap");
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  background-color: white;
  font-family: 'Inter', sans-serif;
  height: auto;
  width: 100vw;
}

main {
  height: auto;
}

html {
  scroll-behavior: smooth;
}

h1 {
  margin: 0;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #EC0B43;
}

@media only screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  .section-home {
    height: 100vh;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 20px 20px 20px 20px;
    width: 100%;
  }
  .nav {
    display: none;
  }
  .language-desktop {
    display: none;
  }
  .header {
    float: left;
  }
  .header__h1 {
    font-size: 60px;
  }
  .home-p {
    font-size: 25px;
    margin-top: 40px;
    float: left;
  }
  .images-container {
    float: left;
  }
  .images-container__img {
    height: 64px;
    width: 64px;
    padding-top: 20px;
  }
  .language-mobile__p {
    font-size: 30px;
  }
  .quote-content-container {
    display: none;
  }
}

@media only screen and (min-width: 1400px) {
  body {
    overflow-x: hidden;
  }
  main {
    margin-left: 20%;
    height: auto;
  }
  .language-mobile {
    display: none;
  }
  .language-desktop {
    margin: 0;
    float: right;
  }
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100vh;
    background-color: #EC0B43;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu {
    padding: 0;
    display: block;
    margin: 0;
    list-style: none;
    width: 100%;
  }
  .menu__item {
    display: block;
    padding: 12px;
    text-decoration: none;
    font-size: 27px;
    color: black;
    cursor: pointer;
  }
  .menu__item:hover {
    letter-spacing: 1px;
    -webkit-transform: translateY(1px);
            transform: translateY(1px);
    font-weight: 600;
    color: white;
  }
  .section-home {
    height: 100vh;
    width: 100%;
    padding: 0 3% 0 3%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .header {
    padding-top: 10%;
    text-align: center;
  }
  .header__h1 {
    margin: 0;
    font-size: 105px;
  }
  .header__p {
    margin: 0;
    font-size: 20px;
    padding-top: 10px;
  }
  .quote-content-container {
    position: relative;
    width: 65%;
    margin: 0 auto;
    font-size: 27px;
    text-align: center;
    margin-top: 7%;
    height: 40%;
  }
}

@media only screen and (min-width: 1400px) and (min-width: 1600px) {
  .quote-content-container {
    margin-top: 10%;
  }
}

@media only screen and (min-width: 1400px) {
  .quote-content-container:before {
    display: block;
    content: "";
    width: 80px;
    height: 80px;
    position: absolute;
    top: 5px;
    left: 5px;
    border-top: 5px solid #EC0B43;
    border-left: 5px solid #EC0B43;
  }
  .quote-content-container:after {
    display: block;
    content: "";
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    border-bottom: 5px solid #EC0B43;
    border-right: 5px solid #EC0B43;
  }
  .quote-contnet-p-border {
    width: 80%;
    height: 100%;
    margin: 0 auto;
  }
  .quote-contnet-p-border__p {
    margin: 0;
    padding-top: 15%;
    font-size: 27px;
  }
}

@media only screen and (min-width: 1400px) and (min-width: 1600px) {
  .quote-contnet-p-border__p {
    font-size: 40px;
  }
}

@media only screen and (min-width: 1400px) {
  .images-container {
    width: 100%;
    height: 10%;
  }
  .images-container__img {
    height: 64px;
    width: 64px;
    float: right;
    padding-right: 15px;
  }
  .images-container__img:hover {
    cursor: pointer;
    height: 68px;
    width: 68px;
  }
  .skills {
    height: 100vh;
    width: 100%;
    background-color: #411119;
  }
  .contact {
    height: 100vh;
    width: 100%;
    background-color: #cec0ff;
  }
}

.section-works {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
  min-height: 100vh;
}

.works-header {
  position: relative;
  width: 100%;
}

.works-container {
  position: relative;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 5vh;
}

@media only screen and (max-width: 600px) {
  .section-works {
    padding: 20px 20px 20px 20px;
  }
  .works-header__h1 {
    font-size: 60px;
  }
  .works-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 16px;
  }
  .item {
    width: 100%;
    height: 30vh;
  }
  .item__p {
    width: 100%;
    min-height: 15%;
    margin: 0;
    font-size: 25px;
    float: left;
  }
  .item__img {
    max-width: 100%;
    max-height: 100%;
  }
}

@media only screen and (min-width: 1400px) {
  .section-works {
    padding: 0 5% 0 5%;
  }
  .works-header__h1 {
    font-size: 40px;
  }
  .works-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .item {
    width: 40%;
    height: auto;
  }
  .item__p {
    width: 100%;
    min-height: 15%;
    margin: 0;
    padding: 10% 0 10% 0;
    font-size: 27px;
    float: left;
  }
  .item__img {
    max-width: 100%;
    max-height: 100%;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
  }
  .item__img:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
/*# sourceMappingURL=style.css.map */