

// phones
@media only screen and (max-width: 600px) {

    body {
        overflow-x: hidden;
    }

    .section-home {
        height: 100vh;
        box-sizing: border-box;
        padding: 20px 20px 20px 20px;
        width: 100%;
    }

    .nav {
        display: none;
    }

    .language-desktop {
        display: none;
    }

    .header {
        float: left;
        &__h1 {
            font-size: $very-big-font-mobile;
        }
    }

    .home-p {
        font-size: $medium-font-mobile;
        margin-top: 40px;
        float: left;
    }

    .images-container {
        float: left;
        // background-color: $primary-color;

        &__img {
            height: 64px;
            width: 64px;
            padding-top: 20px;
        }
    }

    .language-mobile {
        &__p {
            font-size: $big-font-mobile;
        }
    }

    .quote-content-container {
        display: none;
    }

}

// Laptops 

@media only screen and (min-width: 1400px) {
    body {
        // background-color: red;
        overflow-x: hidden;
    }

    main {
        margin-left: 20%;
        height: auto;
    }

    .language-mobile {
        display: none;
    }

    .language-desktop {
        margin: 0;
        float: right;
    }


    .nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 20%;
        height: 100vh;
        background-color: $primary-color;
        text-align: center;
        display: flex;
        align-items: center;
    }

    .menu {
        
        padding: 0;
        display: block;
        margin: 0;
        list-style: none;
        width: 100%;


        &__item {
            display: block;
            padding: 12px;
            text-decoration: none;
            font-size: $ultra-small-font-desktop;
            color: $second-color;
            cursor: pointer;

            &:hover {
                letter-spacing: 1px;
                transform: translateY(1px);
                font-weight: 600;
                color: white;
            }
        }
    }




    .section-home {
        height: 100vh;
        width: 100%;
        padding: 0 3% 0 3%;
        box-sizing: border-box;
    }

    .header {

        padding-top: 10%;
        text-align: center;

        &__h1 {
            margin: 0;
            font-size: $big-font-desktop;
            
        }

        &__p {
            margin: 0;
            font-size: $super-ultra-small-font-desktop;
            padding-top: 10px;
        }
    }


    .quote-content-container {
        position: relative;
        width: 65%;
        margin: 0 auto;
        font-size: $ultra-small-font-desktop;
        text-align: center;
        margin-top: 7%;
        height: 40%;
    
        // BigDesktop
        @media screen and (min-width: 1600px) {
          margin-top: 10%;
        }
      }
    
      .quote-content-container:before {
        display: block;
        content: "";
        width: 80px;
        height: 80px;
        position: absolute;
        top: 5px;
        left: 5px;
        border-top: 5px solid $primary-color;
        border-left: 5px solid $primary-color;
        
      }
      .quote-content-container:after {
        display: block;
        content: "";
        width: 80px;
        height: 80px;
        position: absolute;
        bottom: 5px;
        right: 5px;
        border-bottom: 5px solid $primary-color;
        border-right: 5px solid $primary-color;
      }
    
      .quote-contnet-p-border{
        width: 80%;
        height: 100%;
    
        margin: 0 auto;
    
        &__p {
          margin: 0;
          padding-top: 15%;
          font-size: $ultra-small-font-desktop;
    
    // BigDesktop
    @media screen and (min-width: 1600px) {
      font-size: $small-font-desktop;
    }
        }
      }


    .images-container {
        width: 100%;
        // background-color: blue;
        height: 10%;

        &__img {
            height: 64px;
            width: 64px;
            float: right;
            padding-right: 15px;
        }
      }



      // TEST AREA


    .works {
        height: 100vh;
        width: 100%;
        background-color: pink;
    }

    .skills {
        height: 100vh;
        width: 100%;
        background-color: rgb(65, 17, 25);
    }

    .contact {
        height: 100vh;
        width: 100%;
        background-color: rgb(206, 192, 255);
    }

   

    



    // TEST AREA
}