
// colors 
$primary-color: #EC0B43;
$second-color: black;
$third-color: white;


//* MOBILE AREA -------> *//

$very-small-font-mobile: 20px;
$medium-font-mobile: 30px;
$big-font-mobile: 25px;
$very-big-font-mobile: 60px; //V

//* <------ MOBILE AREA *//


//* DESKTOP AREA -------> *//
$super-ultra-small-font-desktop: 20px;
$ultra-small-font-desktop: 27px;
$small-font-desktop: 40px;
$medium-font-desktop: 80px;
$big-font-desktop: 105px;

//* <------ DESKTOP AREA *//